*,
*::before,
*::after {
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    scroll-snap-type: y proximity;
}

header,
section,
footer {
    scroll-snap-align: start;
}

body {
    margin: 0;
    font-family: 'Abril Fatface', serif;
    width: 100%;
}

section {
    width: 100%;
    min-height: 100vh;
    padding: 6rem 4rem;
    font-size: 2rem;
}

section h2 {
    font-size: 4rem;
    padding-top: 4rem;
    padding-left: 4rem;
}


/* Nav bar */
.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    width: 100%;
    background-color: #111B06;
    position: fixed;
    top: 0;
    height: 7%;
    padding: 3%;
}

.navbar-container a {
    text-decoration: none;
    color: #E7F7D8;
    border-radius: 15px;
    padding: 0.3rem 0.6rem;
}

.navbar-container a:hover {
    background-color: #E7F7D8;
    color: #111B06;
}

/* active nav menu bar */
.navbar-container a.active {
    background-color: white;
    color: #111B06;
    transition: all 1s;
}


/* Name title section (home-section) */
section.home-section {
    background-color: #111B06;
    color: #E7F7D8;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20%;
}

.name-container h1 {
    font-size: 10rem;
}

section.home-section a {
    background-color: #1D8958;
    text-decoration: none;
    color: #E7F7D8;
    padding: 1rem;
    border-radius: 27px;
    transition: all 600ms;
}

section.home-section a:hover {
    background-color: #111B06;
}


/* need to reposition this at some point!!!! */
#CV-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: #E86A33;
    transition: all 500ms;
}

#CV-link:hover {
    background-color: #743317;
    color: #a9a79d;
}


/* ABOUT ME SECTION */

section.about-section {
    background-color: #E86A33;
    color: #111B06;
}

.about-me {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;

}

.about-me-text {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 60%;
}

.about-me-goat {
    font-size: 2rem;
}

.about-me-desc {
    font-size: 1.5rem;
}

.about-me img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

/* END OF SECTION */


/* PORTFOLIO SECTION */

section.portfolio-section {
    background-color: #1D8958;
    color: #111B06;
}

section.portfolio-section p {
    padding: 1.5rem 4rem;
}

.portfolio-section h2 {
    padding: 4rem 4rem 2rem 4rem;
    font-size: 4rem;
}

.portfolio-section p {
    padding-left: 4rem;
}

.portfolio-grid {
    background-color: #E7F7D8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px #111B06;
}

.project-items {
    background-color: #E86A33;
    margin: 10px;
    border-radius: 15px;
}

.project-items .desc {
    font-size: 1rem;
}

.project-items a {
    font-size: 2rem;
    text-decoration: none;
    color: #111B06;
}

.project-items .link-buttons {
    background-color: none;
    border-radius: 15px;
    padding: 1rem;
}

.project-items .link-buttons:hover {
    background-color: #1D8958;
}

/* END OF SECTION */


/* CONTACT SECTION */

section.contact-section {
    background-color: #E7F7D8;
    color: #111B06;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-section h2 {
    padding: 4rem 4rem 2rem 4rem;
}

.contact-section p {
    padding-left: 4rem;
}

.contact-section .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 1%;
}

#name,
#email,
#number,
#message {
    border-radius: 15px;
    padding: 1rem;
    border: 0.5px solid #111B06;
    box-shadow: 5px 5px 10px #1D8958;
}

::placeholder {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.contact-button {
    margin-top: 1rem;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Abril Fatface', serif;
    cursor: pointer;
    border: none;
    background-color: #E86A33;
    color: #111B06;
}

.contact-button:hover {
    background-color: #743317;
    color: #E7F7D8;
}

.socials-links {
    display: flex;
    gap: 2rem;
    padding-left: 4rem;

}

.socials-links a {
    color: #E86A33;
    font-size: 5rem;
}


footer {
    padding: 1rem 4rem;
    background-color: #111B06;
    color: #E7F7D8;
}